.code-block {

  .title {
    display: block
    background-color: #f1f1f1
    width: 100%
    padding: 10px 15px
    font-weight: 300
    font-size: 13px
    text-align: right
    border-radius: 3px 3px 0 0
  }

  pre {
    background-color: #fbfbfb
    width: 100%
    padding: 15px
    font-size: 12px
    overflow: auto
    border-radius: 0 0 3px 3px
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.05)

    .language-json {

      .token.operator {
        background: initial
      }
    }
  }
}
