.code-block {

  .title {
    display: block
    background-color: #393a36
    width: 100%
    padding: 10px 15px
    font-weight: 300
    font-size: 13px
    color: #fff
    text-align: right
    border-radius: 3px 3px 0 0
  }

  pre {
    background-color: #272822
    width: 100%
    padding: 15px
    font-size: 12px
    overflow: auto
    border-radius: 0 0 3px 3px

    .language-json {

      .token.operator {
        background: initial
      }
    }
  }
}
