@import '../../_utils.styl'

.main-logo,
.github-link {
  display: block
  position: absolute
  text-decoration: none
  opacity: 1
  transition: opacity .3s

  &:hover {
    opacity: .8
  }
}

.main-logo {
  font-family: 'Marck Script', cursive
  font-size: 35px
  top: 0

  @media (max-width: breakpoints.sm-max) {
    left: 30px
  }

  @media (min-width: breakpoints.lg-min) {
    left: 10px
  }
}

.github-link {
  font-size: 50px
  overflow: hidden

  @media (max-width: breakpoints.sm-max) {
    top: 0
    right: 25px
  }

  @media (min-width: breakpoints.lg-min) {
    bottom: 0
    right: 5px
  }
}

.content {
  background-color: #fff
  position: absolute
  border-radius: 3px
  box-shadow: 0 8px 22px 0 rgba(0, 0, 0, .05)

  &:not(.content__full) {
    width: 100%
    max-width: 500px
    padding: 50px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    .help-link {
      margin-top: 15px
      font-size: 12px
      color: #3498db
      text-decoration: none
      position: absolute
      top: 100%
      left: 50%
      transform: translateX(-50%)

      &:hover {
        text-decoration: underline
      }
    }
  }

  &.content__full {
    overflow: auto

    @media (max-width: breakpoints.sm-max) {
      padding: 30px
      top: 60px
      bottom: 15px
      left: @bottom
      right: @bottom
    }

    @media (min-width: breakpoints.lg-min) {
      padding: 40px
      top: 40px
      bottom: @top
      left: 70px
      right: @left
    }
  }
}
