*,
:before,
:after {
  line-height: inherit
  margin: 0
  padding: 0
  color: inherit
  box-sizing: inherit
}

html {
  height: 100%
  box-sizing: border-box
}

body {
  background-color: #fbfbfb
  min-width: 300px
  height: 100%
  line-height: 1
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  color: #4b4b4b
}

.contain {
  max-width: 1255px
  padding: 1px 55px 0
}
