*,
:before,
:after {
  line-height: inherit
  margin: 0
  padding: 0
  color: inherit
  box-sizing: inherit
}

html {
  height: 100%
  box-sizing: border-box
}

body {
  background-color: #fbfbfb
  min-width: 300px
  height: 100%
  line-height: 1
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  color: #4b4b4b
}

.btn {
  height: 35px
  border: 0
  font-size: 13px
  text-transform: uppercase
  border-radius: @height
  opacity: 1
  transition: opacity .3s

  &:not([disabled]) {
    cursor: pointer

    &:hover {
      opacity: .9
    }

    &:focus {
      opacity: .8
      outline: 0
    }
  }

  &[disabled] {
    opacity: .5
  }

  &.btn__green {
    background-color: #2ecc71
    color: #fff
    box-shadow: 0 4px 15px 0 rgba(@background-color, .4)
  }
}
